/* 
  detailed styles for page sections
  could also have been added to R markdown file with ```{css, echo=FALSE}```
*/

/* name, contact information, social media */
.basics {
  height: 5em;
  margin-block-start: 0.5em;
  display: flex;
  justify-content: space-between;
}

/* left, center, right columns of basics */
.basics .column {
  width: 32%;
  line-height: 1em;
}
.basics .center {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  padding-block-start: 0.4em;
}
.basics .left,
.basics .right {
  padding-block-start: 0.8em;
  line-height: 1.25em;
}
.basics .left {
  text-align: left;
}
.basics .right {
  text-align: right;
}

/* adjustments to fontawesome graphics in basics */
.basics .left  .fas.fa-paper-plane {
  margin-inline-end: 7px;
}
.basics .left  .fas.fa-mobile-alt  {
  margin-inline-start: 3px;
  margin-inline-end: 11px;
}
.basics .right .fab.fa-linkedin {
  margin-inline-start: 7px;
}
.basics .right .fab.fa-twitter {
  margin-inline-start: 7px;
  margin-inline-end: -1px;
}

/* summary lines of who I am as a professional */
.summary {
  width: 100%;
  margin-block-end: 1em;
  text-align: center;
}
.summary p {
  margin-block-end: 0em;
}

/* details: everything else! */
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.details ul,
.details p {
  font-size: 0.95em;
}

/* left column of details */
.details .left {
  width: 60%;
  padding-inline-start: 0.6em;
  padding-inline-end: 1.5em;
}

/* just the employer-name headers */
.details .left h3.employer {
  font-size: 1.25em;
  margin-block-start: 1em;
  margin-block-end: 0.25em;
}
.details .left .flex-container {
  display: flex;
}
.details .left .flex-child {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}
.details .left .flex-child:first-child {
  display: revert;
  margin-right: 20px;
}

/* just the "from when to when" headers */
.details .left h4.timing {
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 1em;
}

/* just the "titles" headers */
.details .left h5.titles {
  font-size: 0.95em;
  font-weight: normal;
  margin-block-start: 1.6em;
  text-align: right;
}

/* sidebar column of details */
.details .sidebar {
  width: 40%;
  padding-left: 2.8em;
}
.details .sidebar img {
  padding-inline-end: 1em;
  padding-block-start: 1em;
  margin-block-end: 1.5em;
}
.details .sidebar h4 {
  font-size: 1em;
  margin-block-start: 1.2em;
  margin-block-end: 0.8em;
}
.details .sidebar ul {
  padding-inline-start: 1.5em;
}
